[Desktop Entry]
Type=Application
Name=Arvor Linux Updater
Comment=Update Arvor Linux System & Packages
Exec=pkexec /usr/bin/nextferret-updater
Icon=system-software-update
Terminal=true
Categories=System;Utility;
